:root {
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;
  font-family: system-ui, Arial, sans-serif;
}

/* Set up the body to center content and fill the viewport */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 324px;
  min-height: 100vh;
}

/* Style for buttons */
button {
  font-weight: 700;
  background-color: #fff;
  font-family: inherit;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #484848;
  color: #484848;
  font-size: 12px;
}

/* Style for the top bar containing the save changes button */
.savingChange {
  font-size: 12px;
  background: #fcfcfc;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid grey;
}

/* Style for the top bar */
.top-bar {
  font-size: 12px;
  background-color: #fff;
  padding: 12px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  border-bottom: 2px solid grey;
}

/* Style for node update section */
.update {
  padding: 5px 15px;
  font-size: 12px;
  color: #484848;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #484848;
}

/* Style for back button in update section */
.update .back {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Base style for nodes in the flow diagram */
.react-flow__node {
  border: 2px solid transparent;
}

/* Style for selected nodes in the flow diagram */
.react-flow__node.selected {
  border: 2px solid #72d1fd;
  border-radius: 10px;
}

/* Style for the right bar in the app-flow container */
.app-flow .right-bar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 30%;
}

/* Style for error messages */
.redMessage {
  color: black;
  background: lightpink;
  font-size: 12px;
  border-radius: 8px;
  padding: 10px;
  font-weight: 700;
}

/* Style for success messages */
.greenMessage {
  color: black;
  background: lightgreen;
  font-size: 12px;
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
}

/* Main container for the app flow layout */
.app-flow {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* Style for sidebar within the app flow layout */
.app-flow aside {
  padding: 15px 10px;
  font-size: 12px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;
  display: flex;
}

/* Style for descriptions within the app flow layout */
.app-flow .description {
  margin: 10px;
  font-size: 12px;
  color: #484848;
}

/* Style for app nodes in the flow diagram */
.app-flow .app-node {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90px;
  background-color: #fff;
  border: 1px solid #484848;
  color: #484848;
  cursor: grab;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

/* Style for the react flow wrapper in the app flow layout */
.app-flow .reactflow-wrapper {
  flex-grow: 1;
  height: 89%;
}

/* Style for select all section within the app flow layout */
.app-flow .selectall {
  margin-top: 10px;
}

/* Media query for larger screens to adjust the app flow layout */
@media screen and (min-width: 768px) {
  .app-flow {
    display: flex;
    flex-direction: row;
  }

  .right-bar {
    width: 20%;
    max-width: 250px;
    border-left: 1px solid #484848;
  }
}
